.wishlist{
    padding: 50px 0px !important;

    &>div{
        background: white;
        padding: 50px 0px !important;
    }
    
    

    &_list{
        position: relative !important; 
    }
}

.wishlist_cart{
    width: 100% !important;
    margin: 20px auto;
    height: 330px !important;
    background: white !important;
    position: relative !important;
    padding: 10px;

    @media(max-width:767px){
        padding: 0px;
        height: 300px !important;

        img{
            height: 200px !important;
        }

        &_price{
            font-size: 12px !important;
        }
    }

    .img{
        height: 200px;
        padding: 0px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        
        &>div{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #00000055;
            transition: .3s;
            opacity: 0;

            button{
                font-size: 16px;
                border: none;
                background: #ddd;
                border-radius: 100px;
                padding: 10px 15px;
                font-variant: small-caps;
                font-family: Regular;
                transform: rotateX(100deg) translateY(100px);
                pointer-events: none;
                transition: .3s;
            }
        }
    }

    &:hover{
        .img{
            &>div{
                opacity: 1;
                button{
                    transform: rotateX(0deg) translateY(0px);
                    cursor: pointer;
                    pointer-events: all;
                }
            }
        }
    }

    img{
        width: 100%;
        object-fit: scale-down;
        height: 200px;
    }

    p{
        font-size: 13px;
        line-clamp: 2;
        -webkit-line-clamp: 2 !important;
        display: block !important;
        overflow: hidden !important;
        box-sizing: border-box !important;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;

    }

    &_body{
        padding: 10px 0px;
        height: 100%;
    }

    &_price{
        font-family: Bold;
        font-size: 15px;
        color: #4E7DF1;
    }

    &_delete{
        background: transparent;
        color: tomato;
        font-variant: small-caps;
        text-transform: lowercase;
        padding: 5px 10px;
        top: 5px;
        right: 10px;
        border-radius: 100px !important;
        border: none !important;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

    }
}


.vertical{
    display: block;
    position: relative;
    height: 100px;

    &>div{
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        button{
            font-size: 13px;
            border: none;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            font-variant: small-caps;
            text-transform: lowercase;
            font-family: Bold;

            &:disabled{
                background: #ddd !important;
                color: #888;
                cursor: no-drop;
            }

            &:first-of-type{
                background: #4E7DF1;
                width: 72%;
            }

            &:last-of-type{
                background: tomato;
                width: 26%;
            }

            @media(max-width:400px){
                font-size: 10px;
                padding: 5px 10px;
                font-family: Regular;
            }
        }
    }
}


.page_header{
    font-family: Regular;
    font-size: 20px;
    padding-bottom: 10px;
    color: gray;
    font-variant: small-caps;
    margin: 0px 20px;
    text-transform: lowercase;
    border-bottom: 1px solid lightgray;
}

.hide{
    animation: ani .6s linear forwards 1;

    @keyframes ani{
        0%{
            opacity: 1;
            transform: none;
        }
        100%{
            opacity: 0;
            transform: rotate(360deg) scale(0);
        }
    }
}

.btnAnim{
    animation: anim .6s linear 1;

    @keyframes anim{
        0%{
            opacity: 0;
            transform:scale(.1);
        }
        30%{
            opacity: .5;
            transform:scale(1.4);
        }
        8%{
            opacity: .8;
            transform:scale(.5);
        }
        
        
        100%{
            opacity: 1;
            transform:scale(1);
        }
    }
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 50px 0px;
    background: white;
}