.card{
  position:relative;
  display:flex;
  flex-direction:column;
  border-radius:.5rem;
  overflow:hidden;
  background: #ffffff;
  transition:all .3s;
  margin:1rem 0;

  &_header{
    height:10rem;
    width: 90%;
    overflow:hidden;
    margin-left: 5%;
    margin-top: 5%;
  }

  &:hover{
    box-shadow:0px 2px 5px rgba(0,0,0,.2);
    transform: translateY(-1px);

    .card_title_h1{
      color:#4E7DF1;
    }

    .content_span{
      color:#4E7DF1;
    }
  }

  &_title{
    padding: .3rem 1rem;

    &_h1{
      font-weight:900;
      font-size:1.5rem;
      color:black;
      line-height:1.5;
    }
  }

  .content{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    &_span{
      display:flex;
      font-weight:bold;
      color:rgba(0,0,0,.5);
      align-items: center;
      padding-right: 1rem;
      border-right: 1px solid rgba(0,0,0,.2);

      &:last-child{
        border-right: 0px;
      }
    }

  }

  .eye{
    margin-right:.7rem;
  }

  .avtor{
    margin-right:.5rem;
  }

  .text{
    padding:1rem 1rem 2rem;
    text-align:justify;



    &_p{
      font-size:1.2rem;
      font-weight:bold;
      margin-bottom:0;
      color:rgba(0,0,0,.5);
    }
  }

  .link{
    color:#fff;
    font-size:1.2rem;
    font-weight:bold;
    display:inline-block;
    padding:.5rem 1.5rem;
    background:#4E7DF1;
    transition:all .2s;
    margin-left:1rem;
    margin-bottom:1rem;
    border-radius: 2px;
    box-shadow: 0 0 2.5px 0px rgba(78,125,241,.4);

    &:hover{
      text-decoration:none;
      color:#FEDB4D;
    }
  }
}

