.median{
    position:relative;
    padding:1.5rem 0;
}

.row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;

    @media(max-width:320px){
        flex-direction: column;
    }
}

.logo{
    color:rgb(0,0,0);   
    font-size:4rem;
    font-weight:700;

    &:hover{
        text-decoration:none;
        color:rgb(0,0,0);
    }

    @media(max-width: 992px){
        font-size:3rem;
    }

    @media(max-width:500px){
        font-size:2rem;
    }

}

.tellink{
    color: rgba(black, .7);

    &:hover{
        text-decoration:none;
    }

    .headset{
        width:3.5rem;
        margin-right:1rem;
    }

    .number{
        font-size:2.2rem;
        font-weight:600;
    }

    @media(max-width:992px){
        .headset{
            width:3rem;
        }
        .number{
            font-size:1.8rem;
        }
    }

    @media(max-width:768px){
        display:none;
    }

}

.search_content{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.form_group{
    margin-right:3rem;
    width:55rem;

    @media(max-width:992px){
        width:40rem;
    }

    @media(max-width:768px){
        margin-right:0;
    }

    @media(max-width:500px){
        width:25rem;
    }

    @media(max-width:320px){
        width:100%;
        margin-top:1rem;
    }
    
}

.select{
    width:15rem;
    position:relative;
    cursor:pointer;
    

    &:hover{
        .ul{
            max-height:50rem;
        }
    }

    @media(max-width:500px){
        width:8rem;
    }
}

.selected{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:.8rem 1.5rem;
    border:1px solid rgba(black, .1);
    border-right:0;
    color:rgba(0,0,0,.5);
    height: 50px;

    @media(max-width:500px){
        padding:.4rem 1rem;
    }
    
}

.selected_text{
    margin-bottom:0;
    font-size:1.2rem;
}

.input{
    font-size:1.4rem;
    border:1px solid rgba(black, .1);
    color:rgba(0,0,0,.5);
    height: 50px;


    &:focus{
        outline:none;
        box-shadow:none;
        border:1px solid rgba(black, .1);
        border-bottom:0;
        box-shadow:inset 0px -2px 0px #28a745;
    }

    &:focus:invalid{
        box-shadow:inset 0px -2px 0px #ffc107;
    }

    @media(max-width:500px){
        font-size:1.2rem;
    }

}


.search{
    background:#FEDB4D;
    display:flex;
    justify-content: center;
    height: 50px !important;
    align-items: center;
    padding:0rem 3rem;
    font-size:2.2rem;
    cursor:pointer;

    @media(max-width:500px){
        padding:0 1rem;
        font-size:1.8rem;
    }


    
}


.ul{
    max-height: 0rem;
    position:absolute;
    list-style:none;
    width:25rem;
    right:0;
    overflow:hidden;
    transition:all 1s linear;
    transition-delay: 0s;   
    box-shadow:0px 2px 4px rgba(black, .1);
    background:black;
    color:#fff;
    cursor: default;
    z-index:10;
}

.li{
    font-size:1.2rem;
    transition:all .2s;
    
    &:hover{
        color:black;
        background:#fff;
        box-shadow:inset 4px 0px 0px #28a745;
    }


    &:first-child{
        margin-top:2rem;
    }

    &:last-child{
        margin-bottom:2rem;
    }
}

.p{ 
    cursor: pointer;
    padding:.5rem 2rem;
    margin-bottom:0;
}


.tools{
    display: inline-flex;
    height: 50px;
    align-items: flex-end !important;

    a{
        text-decoration: none !important;
        color: black !important;
        display: block !important;
        position: relative !important;
    }

    @media(max-width : 850px){
        position: fixed;
        bottom : 40%;
        right: 0px;
        flex-direction: column;
        height: auto !important;
        width: 0px;
        z-index: 11 !important;
        padding: 0px !important;
        justify-content: space-between;
    }

    figure{
        display: block;
        margin: 0px 10px;
        padding-top: 3px !important;
        height: 50px;

        @media(max-width : 850px){
            display: block !important;
            width: 50px;
            border-radius: 10px 0px 0px 10px;
            margin: 1px !important;
            box-shadow: -2px 0px 3px -1.3px rgba(0,0,0,0.4);
            background-color: #FEDB4D;
            padding: 15px 10px !important;
            transition: 0.1s;

            &:first-of-type{
                border-bottom-left-radius: 0px !important;
            }

            &:last-of-type{
                border-top-left-radius: 0px !important;
            }

            &:active{
                transform: translateX(50px);
            }
        }

        img{
            width: 30px;
            display: block;
            margin: 0px auto;

            @media(max-width: 850px){
                width: 25px;
            }
        }

        figcaption{
            font-size: 10px;
            margin-top: 5px;
            text-align: center;

            @media(max-width: 850px){
                display: none;
            }
        }
    }
}