.products{
    background: #fff;
    margin: 10px 0px;
    padding: 30px 20px;
    border-radius: 5px;
}

.section_title{
    font-family: Regular;
    font-size: 25px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}