.personal{
    position:relative;
    overflow:hidden;
    padding:2rem;
    background: #ffffff;
    box-shadow:0px 2px 5px rgba(0,0,0, .1);
    margin:6rem 0;
}

.label{
    font-size:1.5rem;
    font-weight:600;
    color:rgba(0,0,0, 1);
    margin-bottom:1rem;
}

.input{
    padding:1rem 1.6rem;
    color:rgba(0,0,0, 8);
    border:1px solid rgba(0,0,0, .2);
    font-size:1.2rem;


    &:focus{
        outline:none;
        box-shadow:none;
        border:none;
        box-shadow:inset 0px -3px 0px #28a745;
    }

    &:focus:invalid{
        box-shadow:inset 0px -3px 0px #ffc107;
    }

    &::placeholder{
        color:rgba(0,0,0, .3);
        font-size:1.2rem;
    }
}


.select{
    display:block;
    width:100%;
    padding:1rem 1.6rem;
    color:rgba(0,0,0, 8);
    font-size:1.2rem;
    border:none;
    box-shadow:none;
    outline:none;
    border:1px solid rgba(0,0,0, .2);

    &:required:invalid{
        color:rgba(0,0,0,.2);
        font-size:1.2rem;
    }


}


.select_selected{
    display:none;
}

.option{
    color:rgba(0,0,0, 1);
    font-size:1.4rem;
    font-weight:500;
    cursor: pointer;

}

.check_label{
    font-size:1.4rem;
    font-weight:500;
    color:rgba(0,0,0, .8);
    padding-left:1.5rem;
}

.submit{
    background:#4E7DF1;
    border:none;
    outline:none;
    color:#ffffff;
    padding:.7rem 3rem;
    font-weight:600;
    border-radius:3px;
    cursor:pointer;

    &:hover{
        background:#47F0F0;
    }
    &:disabled{
        background: #aaa;
        color: #fff;
        cursor: no-drop;
    }
}
